@import url("https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap");
html {
  background: #fdfdfd;
  color: #f44336;
  font-size: 14px;
  font-family: "Poppins", sans-serif; }

body {
  display: grid; }

.container {
  max-width: 1000px;
  width: 80vw;
  margin: auto; }
  .container main {
    min-height: 90vh; }
    .container main header {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      grid-gap: 30px; }
      .container main header .nav-left {
        color: #d83a2e;
        font-size: 2rem; }
      .container main header .nav-right {
        justify-self: end; }
        .container main header .nav-right fieldset {
          margin-left: 10px; }
          .container main header .nav-right fieldset select {
            margin-right: 10px; }
      @media screen and (max-width: 692px) {
        .container main header {
          grid-template-columns: 1fr;
          grid-gap: 10px;
          margin-bottom: 15px; }
          .container main header .nav-right {
            justify-self: start; } }
  .container footer {
    padding: 20px 0 10px 0; }

.button {
  text-decoration: none; }

input, select, .button {
  color: #d83a2e;
  font-family: "Poppins", sans-serif;
  padding: 6px;
  background: #fdfdfd;
  border: 1px solid white;
  background: #fff;
  box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: .3s; }
  input:hover, select:hover, .button:hover {
    transition: .3s;
    border: 1px solid #d83a2e;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1); }

hr {
  border: none;
  border-top: 1px solid #d83a2e; }

h3 {
  color: orange; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px; }

.vertical-grid {
  grid-template-columns: 1fr;
  grid-row-gap: 2px; }

.text-center {
  text-align: center; }

.products-grid {
  margin-top: 15px; }
  .products-grid .product {
    background: #fff;
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    position: relative;
    transition: .5s;
    line-height: 1.3rem; }
    .products-grid .product .name {
      font-size: 1.4rem;
      font-weight: 700;
      padding: 5px 0;
      transition: .3s; }
    .products-grid .product:hover {
      transition: .3s;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
      transform: scale(0.9); }
      .products-grid .product:hover .name {
        transform: scale(1.14) translateY(-2px);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
        transition: .3s; }

.errors {
  border-radius: 5px;
  margin: 15px 0;
  color: red;
  padding: 5px;
  background: rgba(128, 0, 38, 0.082); }
  .errors .error::before {
    content: "! "; }

fieldset {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0; }
  fieldset.checkbox {
    position: absolute;
    left: 15px;
    top: 15px; }
    fieldset.checkbox input {
      opacity: 0.6;
      width: 12px;
      height: 12px;
      margin: 0;
      background: #fff; }

.form-group {
  width: 50%;
  padding: 6px 10px;
  display: grid;
  grid-template-columns: 1fr 3fr; }
  .form-group label {
    margin: 5px; }
  @media screen and (max-width: 692px) {
    .form-group {
      grid-template-columns: 1fr;
      grid-gap: 10px;
      width: 80%; } }

.form-additional-group {
  background: rgba(244, 67, 54, 0.1);
  border-radius: 5px; }
  .form-additional-group .wrapper {
    padding: 5px; }
    .form-additional-group .wrapper .form-group {
      padding: 5px; }
      .form-additional-group .wrapper .form-group input {
        width: 97%; }
      @media screen and (max-width: 692px) {
        .form-additional-group .wrapper .form-group {
          width: 80%; } }

.details {
  padding: 5px; }

.messages {
  margin: 15px 0 0 0; }
  .messages .message {
    margin: 10px 0;
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    border-radius: 5px; }
    .messages .message.danger {
      background: rgba(128, 0, 38, 0.082); }
    .messages .message.success {
      background: rgba(51, 128, 0, 0.082); }

.author {
  color: #d83a2e; }
