// main colors
$main: #f44336;
$secondary: #d83a2e;
$elements: #fff;
$bg: rgb(253, 253, 253);

// message colors
$danger: rgba(128, 0, 38, 0.082);
$success: rgba(51, 128, 0, 0.082);

$font2: 'Raleway', sans-serif;
$font1: 'Poppins', sans-serif;

// border radius
$radius: 5px;

// @media query
$break-small: 692px;