@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');
@import 'variables';

// prepend parametres with -webkit- and -moz-
@mixin webkit($param-name, $value) {
    #{$param-name} : #{$value};
    -webkit-#{$param-name} : #{$value};
    -moz-#{$param-name} : #{$value};
}

@mixin shadow() {    
    @include webkit('box-shadow', 2px 2px 4px -2px rgba(0, 0, 0, 0.1)); 
    border-radius: $radius;
}

html {
    background: $bg;
    color: $main;
    font-size: 14px;
    font-family: $font1;
}

body {
    display: grid;
}

.container {
    max-width: 1000px;
    width: 80vw;
    margin: auto;
    
    main {
        min-height: 90vh;
        
        header {
            // min-height: 10vh;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            grid-gap: 30px;

            .nav-left {
                color: $secondary;
                font-size: 2rem;
            }
            .nav-right{
                justify-self: end;
                fieldset {
                    margin-left: 10px;
                    select {
                        margin-right:10px;
                    }
                }
            }
            @media screen and (max-width: $break-small){
                grid-template-columns: 1fr;
                grid-gap: 10px;
                .nav-right {
                    justify-self: start;
                }
                margin-bottom: 15px;
            }
        }
    }


    footer {
        // height: 6vh;
        padding: 20px 0 10px 0;
    }
}

.button {
    text-decoration: none;
}

input,select, .button {
    color: $secondary;
    font-family: $font1;
    padding: 6px;
    background : $bg;  
    border: 1px solid white;
    background: $elements;
    @include shadow();
    transition: .3s;

    &:hover {
        transition: .3s;        
        border: 1px solid $secondary;
        @include webkit('box-shadow', 0px 0px 0px 0px rgba(0, 0, 0, 0.1));
        // transform: scale(0.9);            
    }
}

hr {
    border: none;
    border-top: 1px solid $secondary;
}

h3 {
    color: orange;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.vertical-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 2px;
}

.text-center {
    text-align: center;
}

.products-grid {
    margin-top: 15px;
    
    .product {
        background: $elements; 
        @include shadow();  
        padding: 20px;
        position: relative;
        transition: .5s;
        line-height: 1.3rem;

        .name {
            font-size: 1.4rem;
            font-weight: 700;
            padding: 5px 0;
            
            transition: .3s;
        }

        &:hover {
            transition: .3s;
            @include webkit('box-shadow', 0px 0px 0px 0px rgba(0, 0, 0, 0.1));
            transform: scale(0.9);

            .name {
                transform: scale(1.14) translateY(-2px);
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
                transition: .3s;
            }
        }
    }
}

.errors {
    border-radius: $radius;
    margin: 15px 0;
    color: red;
    padding: 5px;
    background: rgba(128, 0, 38, 0.082);

    .error::before {
        content: "! ";
    }
}


fieldset {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;

    &.checkbox {
        position: absolute;
        
        left: 15px;
        top: 15px;
        
        // checkbox
        input {
            opacity: 0.6;
            width: 12px;
            height: 12px;
            margin: 0;
            background: $elements;
        }
    }
}

.form-group {
    width: 50%;
    padding: 6px 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;

    label {
        margin: 5px;
    }

    @media screen and (max-width: $break-small){
        grid-template-columns: 1fr;
        grid-gap: 10px;
        width: 80%;
    }
}

.form-additional-group {
    background: rgba($main,0.1);
    border-radius: $radius;
    .wrapper {
        padding : 5px;
        // color: white;
        .form-group {
            padding: 5px;
            
            input {
                width: 97%;
            }
        
            @media screen and (max-width: $break-small) {
                width: 80%;
            }
        }
    }
}


.details {
    padding: 5px;
}

.messages {
    margin: 15px 0 0 0;
    .message {
        margin: 10px 0;
        @include shadow();
        padding : 20px;
        background: $elements;
        border-radius: $radius;
        &.danger {
            background: $danger;
        }
        
        &.success {
            background: $success;
        }
    }
}

.author {
    color: $secondary;
}


